<div class="building-view__h1 h1-decored">
    <div class="decor"></div>
    <div class="text">Объекты в рамках текущего предложения</div>
</div>

<a href="#" id="buildings" class="just-anchor"></a>
<p>
    * Кликните по объекту для просмотра детальной информации
</p>

<div class="buildings-list">
  {{#each model.buildings as |item|}}
      <div class="buildings-list__building building" {{action 'jumpToBld' item}}>
          <div class="building__row building__name">{{item.building.name}}</div>
          <div class="building__row building__image">
              <img src="{{item.building.first_image}}"/>
          </div>
        {{#each item.building.stations as |metro|}}
            <div class="building__row">
                м.{{metro.name}} - {{metro.time}} {{metro.type}}
            </div>
        {{/each}}

          <div class="building__row">
              Класс {{item.building.bc_class}}
          </div>
      </div>
  {{/each}}
</div>

<a href="#" id="buildings-map" class="just-anchor"></a>
<div class="map-cont"></div>


