<div class="building-features">
  {{#if editMode}}
      <div class="change-features-props edit-button">
          <a {{action 'edit'}} href="#">{{#if (eq openedEditor 'main-pic')}}{{else}}изменить список{{/if}}</a>

        {{#if (eq openedEditor 'main-pic')}}

          {{#tether-dialog
          target='.first-page__edit-button a'
          targetAttachment='bottom left'
          attachment='top right'
          close='hide'
          clickOutsideToClose=true
          translucentOverlay=false
          hasOverlay=true
          }}
            {{dialogs/select-pic}}
          {{/tether-dialog}}
        {{/if}}

      </div>
  {{/if}}
  {{#each building.features as |feature|}}
      <div class="building-features__feature feature">
          <div class="feature__feature-wrap">
              <div class="feature__icon">
                {{icons/provider-svg}}
              </div>
              <div class="feature__name">{{feature.key}}</div>
              <div class="feature__list">{{feature.val}}</div>
          </div>
      </div>
  {{/each}}


</div>