<div class="presentation-header__logo">
    <img src="/logo.svg"/>
</div>

<div class="presentation-header__contacts">
    <div class="text">
        <span class="presentation-header__post">Персональный консультант, </span><span
            class="presentation-header__name">{{data.broker.name}}</span>
        <span class="mdash">&mdash;</span>
        <span class="presentation-header__short">тел.&nbsp;</span>
        <a href="tel:{{data.broker.phone}}" class="presentation-header__phone">{{data.broker.phone}}</a>
    </div>
</div>

<div class="presentation-header__menu">
    <ul class="header-menu">
        <li>{{scroll-to href='#buildings-map' label='Карта'}}</li>
        <li>{{scroll-to href='#contacts' label='Контакты'}}</li>
        <li>{{scroll-to href='#buildings' label='Объекты'}}</li>
    </ul>
    <div class="header-menu-mobile">
        <div class="header-menu-mobile__switcher">
          {{hamb-menu isOpen=isMobileMenuOpened}}
        </div>
    </div>
</div>
