<div class="mobile-menu {{if opened 'opened'}}">
    <div class="mobile-menu__hamb">
      {{hamb-menu isOpen=opened}}
    </div>
    <ul class="mobile-menu__list" {{action 'clicked'}}>
        <li>{{scroll-to href='#buildings-map' label='Карта' beforeScroll='beforeScroll'}}</li>
        <li>{{scroll-to href='#contacts' label='Контакты' beforeScroll='beforeScroll'}}</li>
        <li>{{scroll-to href='#buildings' label='Объекты' beforeScroll='beforeScroll'}}</li>
    </ul>
</div>