<div class="h1-decored">
    <div class="decor"></div>
    <div class="text">Доступные площади</div>
</div>
<table class="offices-table">
    <tr class="offices-table__header">
        <td class="offices-table__td">Этаж</td>
        <td class="offices-table__td">Площадь, м<sup>2</sup></td>
        <td class="offices-table__td">Ставка за, м<sup>2</sup>/год</td>
        <td class="offices-table__td">Налогообложение</td>
        <td class="offices-table__td">Экспл. расходы</td>

        <td class="offices-table__td">Состояние</td>
    </tr>
  {{#each blocks as |block|}}
      <tr class="offices-table__row">
          <td class="offices-table__td">{{{block.floors}}}</td>
          <td class="offices-table__td">{{{block.area}}}</td>
          <td class="offices-table__td">{{{block.price}}}</td>
          <td class="offices-table__td">{{{block.taxes}}}</td>
          <td class="offices-table__td">{{{block.utilities_costs}}}</td>

          <td class="offices-table__td">{{{block.condition}}}</td>
      </tr>
  {{/each}}
</table>

<div class="offices-table-mobile">
  {{#each blocks as |block|}}
      <div class="offices-table-mobile__office">
          <table>
              <tr>
                  <td class="offices-table-mobile__caption" colspan="2">Этаж {{{block.floors}}}</td>
              </tr>
              <tr>
                  <td>Площадь, м<sup>2</sup>:</td>
                  <td>{{{block.area}}}</td>
              </tr>
              <tr>
                  <td>Ставка за, м<sup>2</sup>/год:</td>
                  <td>{{{block.price}}}</td>
              </tr>
              <tr>
                  <td>Экспл. расходы:</td>
                  <td>{{{block.utilities_costs}}}</td>
              </tr>
              <tr>
                  <td>Налогообложение:</td>
                  <td>{{{block.taxes}}}</td>
              </tr>
              <tr>
                  <td>Состояние:</td>
                  <td>{{{block.condition}}}</td>
              </tr>
          </table>
      </div>
  {{/each}}

</div>