{{mobile-menu opened=isMobileMenuOpened}}

{{header-c isMobileMenuOpened=isMobileMenuOpened data=model}}

<div class="presentation {{if isMobileMenuOpened 'blur'}}">

  {{editable/first-page saveConfig='saveConfig' editMode=true config=newConfig.first_slide model=model openedEditor=openedEditor config=model.first_slide}}

    <div class="presentation__slide second-page">
      {{buildings-list model=model}}
    </div>

  {{#each model.buildings as |item|}}
      <div class="presentation__slide second-page">
        {{buildings-view
          editMode=true
          building=item.building
          config=newConfig.buildings
          openedEditor=openedEditor
          setEditableModal='setEditableModal'
          hideEditing='hideEditing'
          saveConfig='saveConfig'
        }}
      </div>

      <div class="presentation__slide">
        {{buildings-props editMode=false building=item.building openedEditor=openedEditor}}
      </div>

      <div class="presentation__slide">
        {{bc-gallery editMode=false building=item.building openedEditor=openedEditor}}
      </div>

      <div class="presentation__slide gray">
        {{buildings-features building=item.building openedEditor=openedEditor}}
      </div>

      <div class="presentation__slide">
        {{offices-table blocks=item.blocks}}
      </div>
      <hr/>
      <br/>
      <br/>

  {{/each}}




    <div class="presentation__slide gray">
        <a href="#" id="contacts" class="just-anchor"></a>
      {{contacts-c model=model editMode=true setEditableModal='setEditableModal' openedEditor=openedEditor}}
    </div>


</div>