{{mobile-menu opened=isMobileMenuOpened}}

{{header-c isMobileMenuOpened=isMobileMenuOpened data=model}}

<div class="presentation {{if isMobileMenuOpened 'blur'}}">

  {{first-page model=model.first_slide}}

    <div class="presentation__slide second-page">
      {{buildings-list model=model}}
    </div>

  {{#each model.buildings as |item|}}
      <div class="presentation__slide second-page">
        {{buildings-view
          building=item.building
        }}
      </div>

      <div class="presentation__slide">
        {{buildings-props building=item.building}}
      </div>

      <div class="presentation__slide">
        {{bc-gallery building=item.building}}
      </div>

      <!--<div class="presentation__slide gray">-->
        {{!buildings-features building=item.building}}
      <!--</div>-->

      <div class="presentation__slide">
        {{offices-table blocks=item.blocks}}
      </div>
      <hr/>
      <br/>
      <br/>

  {{/each}}




    <div class="presentation__slide gray">
        <a href="#" id="contacts" class="just-anchor"></a>
      {{contacts-c model=model}}
    </div>


</div>