{{mobile-menu opened=isMobileMenuOpened}}
<div class="presentation {{if isMobileMenuOpened 'blur'}}">


    {{header-c}}

    <div class="presentation__slide presentation__first-page first-page">
        <div class="first-page__h1">{{{model.h1}}}</div>
        <div class="first-page__h2">{{model.h2}}</div>
        <div class="first-page__badge">{{class-circle}}</div>
    </div>

    <div class="presentation__slide second-page">
        {{buildings-view model=model}}
    </div>

    <div class="presentation__slide">
        {{buildings-props}}
    </div>

    <div class="presentation__slide">
      {{bc-gallery}}
    </div>

    <div class="presentation__slide gray">
        {{buildings-features}}
    </div>


    <div class="presentation__slide">
        {{offices-table}}
    </div>

    <div class="presentation__slide gray">
        {{contacts-c model=model}}
    </div>


</div>