{{mobile-menu opened=isMobileMenuOpened}}

{{header-c isMobileMenuOpened=isMobileMenuOpened data=model}}

<div class="presentation {{if isMobileMenuOpened 'blur'}}">


  {{editable/first-page editMode=editMode model=model openedEditor=openedEditor}}




    <div class="presentation__slide second-page">
      {{buildings-list model=model}}
    </div>

  {{#each model.buildings as |item|}}
      <div class="presentation__slide second-page">
        {{buildings-view editMode=editMode building=item.building openedEditor=openedEditor setEditableModal='setEditableModal' hideEditing='hideEditing'}}
      </div>

      <div class="presentation__slide">
        {{buildings-props editMode=editMode building=item.building openedEditor=openedEditor}}
      </div>

      <div class="presentation__slide">
        {{bc-gallery editMode=editMode building=item.building openedEditor=openedEditor}}
      </div>

      <div class="presentation__slide gray">
        {{buildings-features building=item.building openedEditor=openedEditor}}
      </div>

      <div class="presentation__slide">
        {{offices-table blocks=item.blocks}}
      </div>
      <hr/>
      <br/>
      <br/>

  {{/each}}




    <div class="presentation__slide gray">
      {{contacts-c model=model}}
    </div>


</div>